*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
.header, .main{
    text-align: center;
    font-size: 2rem;
    margin: 20px;
    padding: 5px;
    text-shadow: 2px 1px 2px red;
}

.increase-btn, #save-btn{
    width: 35vw;
    height: 5vh;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 40px;
    margin-top: 30px;
    border-radius: 8px;
    border-color: rgba(255, 0, 0, 0.267);
    color: red;
    background-color: orange;
    cursor: pointer;
}

#welcome-el{
    display: none;
}

.welcome{
    display: flex;
    justify-content: center;
}

.wel-btn{
    background-color: grey;
    font:100;
    padding-inline: 23px;
    padding: 10px;
    border-radius: 8px;
}

.wel-btn:hover{
    background-color: red;
    color: aliceblue;
    transition: 0.5s;
}

body{
    background-image: linear-gradient(to right, rgba(42, 192, 42, 0.342), rgba(52, 52, 223, 0.815) );
}